$grayscale-primary: #219AB3 !default;
$grayscale-dark: #333 !default;
$grayscale-dark-secondary: #989898 !default;
$grayscale-light: #fff !default;
$grayscale-links-color: #1fa587 !default;

$grayscale-body-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: 'Playfair Display', serif;

$grayscale-navigation-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-button-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

$header-size: 60px;
$paragraph-size: 16px;
